.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
udpipe-ud-2.0-170801.zip
dev
.udpipe_process.log
dutch-ud-2.0-170801.udpipe
sanskrit-ud-2.0-170801.udpipe
dutch-lassysmall-ud-2.0-170801.udpipe
spanish-ud-2.0-170801.udpipe